In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [0]:
import io
train = pd.read_csv(io.BytesIO(uploaded['train.csv']))

In [4]:
train.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0         0       3  22.0      1      0   7.2500     1  0  1
1         1       1  38.0      1      0  71.2833     0  0  0
2         1       3  26.0      0      0   7.9250     0  0  1
3         1       1  35.0      1      0  53.1000     0  0  1
4         0       3  35.0      0      0   8.0500     1  0  1

In [0]:
X = train.drop(columns='Survived')
y = train['Survived']

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

## **Model**

In [16]:
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Flatten(input_shape=(8, )))
model.add(tf.keras.layers.Dense(32, activation='relu'))
model.add(tf.keras.layers.Dense(32, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_1 (Flatten)          (None, 8)                 0
_________________________________________________________________
dense_3 (Dense)              (None, 32)                288
_________________________________________________________________
dense_4 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 33
=================================================================
Total params: 1,377
Trainable params: 1,377
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [21]:
model.fit(X_train, y_train, epochs=150, batch_size=15)

Epoch 1/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4059 - accuracy: 0.8138
Epoch 2/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4453 - accuracy: 0.8033
Epoch 3/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4364 - accuracy: 0.8078
Epoch 4/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4186 - accuracy: 0.8138
Epoch 5/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4278 - accuracy: 0.8063
Epoch 6/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4185 - accuracy: 0.8183
Epoch 7/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4227 - accuracy: 0.8048
Epoch 8/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4357 - accuracy: 0.8138
Epoch 9/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4089 - accuracy: 0.8183
Epoch 10/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4197 - accuracy: 0.8138
Epoch 11/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4094 - accuracy: 0.8138
Epoch 12/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4443 - accuracy: 0.8033
Epoch 13/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4165 - accuracy: 0.8183
Epoch 14/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4101 - accuracy: 0.8093
Epoch 15/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4123 - accuracy: 0.8138
Epoch 16/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4061 - accuracy: 0.8198
Epoch 17/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4054 - accuracy: 0.8123
Epoch 18/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4050 - accuracy: 0.8078
Epoch 19/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4162 - accuracy: 0.8183
Epoch 20/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4113 - accuracy: 0.8153
Epoch 21/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4421 - accuracy: 0.8213
Epoch 22/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4077 - accuracy: 0.8123
Epoch 23/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4178 - accuracy: 0.8138
Epoch 24/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4245 - accuracy: 0.8093
Epoch 25/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4090 - accuracy: 0.8213
Epoch 26/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4058 - accuracy: 0.8198
Epoch 27/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4102 - accuracy: 0.8063
Epoch 28/150
45/45 [==============================] - 0s 4ms/step - loss: 0.4140 - accuracy: 0.8168
Epoch 29/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4110 - accuracy: 0.8183
Epoch 30/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4033 - accuracy: 0.8213
Epoch 31/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3976 - accuracy: 0.8108
Epoch 32/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3975 - accuracy: 0.8228
Epoch 33/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4022 - accuracy: 0.8108
Epoch 34/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4224 - accuracy: 0.8063
Epoch 35/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4000 - accuracy: 0.8168
Epoch 36/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4009 - accuracy: 0.8153
Epoch 37/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3999 - accuracy: 0.8123
Epoch 38/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4159 - accuracy: 0.8228
Epoch 39/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4187 - accuracy: 0.8108
Epoch 40/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4066 - accuracy: 0.8183
Epoch 41/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4094 - accuracy: 0.8168
Epoch 42/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3992 - accuracy: 0.8198
Epoch 43/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3974 - accuracy: 0.8228
Epoch 44/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3932 - accuracy: 0.8213
Epoch 45/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4049 - accuracy: 0.8153
Epoch 46/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4075 - accuracy: 0.8093
Epoch 47/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4040 - accuracy: 0.8078
Epoch 48/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3958 - accuracy: 0.8228
Epoch 49/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4050 - accuracy: 0.8198
Epoch 50/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4070 - accuracy: 0.8153
Epoch 51/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4191 - accuracy: 0.8168
Epoch 52/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3986 - accuracy: 0.8183
Epoch 53/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4079 - accuracy: 0.8213
Epoch 54/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3911 - accuracy: 0.8123
Epoch 55/150
45/45 [==============================] - 0s 4ms/step - loss: 0.4130 - accuracy: 0.8168
Epoch 56/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3967 - accuracy: 0.8153
Epoch 57/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3958 - accuracy: 0.8228
Epoch 58/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3941 - accuracy: 0.8273
Epoch 59/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3958 - accuracy: 0.8153
Epoch 60/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4075 - accuracy: 0.8243
Epoch 61/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3992 - accuracy: 0.8108
Epoch 62/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4003 - accuracy: 0.8153
Epoch 63/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3986 - accuracy: 0.8198
Epoch 64/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3894 - accuracy: 0.8183
Epoch 65/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3957 - accuracy: 0.8168
Epoch 66/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3968 - accuracy: 0.8138
Epoch 67/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3932 - accuracy: 0.8213
Epoch 68/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3962 - accuracy: 0.8183
Epoch 69/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4057 - accuracy: 0.8123
Epoch 70/150
45/45 [==============================] - 0s 4ms/step - loss: 0.3954 - accuracy: 0.8168
Epoch 71/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4077 - accuracy: 0.7988
Epoch 72/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4097 - accuracy: 0.8153
Epoch 73/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4479 - accuracy: 0.8153
Epoch 74/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3936 - accuracy: 0.8273
Epoch 75/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3902 - accuracy: 0.8258
Epoch 76/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3914 - accuracy: 0.8228
Epoch 77/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3950 - accuracy: 0.8213
Epoch 78/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3846 - accuracy: 0.8318
Epoch 79/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3941 - accuracy: 0.8183
Epoch 80/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3925 - accuracy: 0.8003
Epoch 81/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3964 - accuracy: 0.8273
Epoch 82/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4128 - accuracy: 0.8078
Epoch 83/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3911 - accuracy: 0.8303
Epoch 84/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3936 - accuracy: 0.8123
Epoch 85/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3845 - accuracy: 0.8303
Epoch 86/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3868 - accuracy: 0.8303
Epoch 87/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4061 - accuracy: 0.8228
Epoch 88/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3954 - accuracy: 0.8198
Epoch 89/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3842 - accuracy: 0.8228
Epoch 90/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3876 - accuracy: 0.8183
Epoch 91/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3982 - accuracy: 0.8138
Epoch 92/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3974 - accuracy: 0.8228
Epoch 93/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3889 - accuracy: 0.8258
Epoch 94/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3946 - accuracy: 0.8228
Epoch 95/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3958 - accuracy: 0.8198
Epoch 96/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3919 - accuracy: 0.8213
Epoch 97/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3867 - accuracy: 0.8258
Epoch 98/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3949 - accuracy: 0.8183
Epoch 99/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3874 - accuracy: 0.8153
Epoch 100/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3820 - accuracy: 0.8198
Epoch 101/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3847 - accuracy: 0.8318
Epoch 102/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4069 - accuracy: 0.8123
Epoch 103/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3884 - accuracy: 0.8198
Epoch 104/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3878 - accuracy: 0.8243
Epoch 105/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3766 - accuracy: 0.8303
Epoch 106/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3838 - accuracy: 0.8273
Epoch 107/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3820 - accuracy: 0.8273
Epoch 108/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3841 - accuracy: 0.8273
Epoch 109/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3873 - accuracy: 0.8273
Epoch 110/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3942 - accuracy: 0.8243
Epoch 111/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3963 - accuracy: 0.8183
Epoch 112/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3767 - accuracy: 0.8198
Epoch 113/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3846 - accuracy: 0.8258
Epoch 114/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3732 - accuracy: 0.8288
Epoch 115/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3976 - accuracy: 0.8198
Epoch 116/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3802 - accuracy: 0.8273
Epoch 117/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4021 - accuracy: 0.8123
Epoch 118/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3882 - accuracy: 0.8333
Epoch 119/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3774 - accuracy: 0.8333
Epoch 120/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3736 - accuracy: 0.8273
Epoch 121/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3782 - accuracy: 0.8318
Epoch 122/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3743 - accuracy: 0.8258
Epoch 123/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3783 - accuracy: 0.8348
Epoch 124/150
45/45 [==============================] - 0s 4ms/step - loss: 0.3872 - accuracy: 0.8303
Epoch 125/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3785 - accuracy: 0.8288
Epoch 126/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3792 - accuracy: 0.8213
Epoch 127/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3796 - accuracy: 0.8288
Epoch 128/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3887 - accuracy: 0.8258
Epoch 129/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3981 - accuracy: 0.8258
Epoch 130/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3955 - accuracy: 0.8168
Epoch 131/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3784 - accuracy: 0.8333
Epoch 132/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3958 - accuracy: 0.8303
Epoch 133/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3745 - accuracy: 0.8408
Epoch 134/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3863 - accuracy: 0.8273
Epoch 135/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3850 - accuracy: 0.8333
Epoch 136/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3746 - accuracy: 0.8363
Epoch 137/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3763 - accuracy: 0.8288
Epoch 138/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3800 - accuracy: 0.8363
Epoch 139/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3746 - accuracy: 0.8273
Epoch 140/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3807 - accuracy: 0.8378
Epoch 141/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3789 - accuracy: 0.8363
Epoch 142/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3778 - accuracy: 0.8273
Epoch 143/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3747 - accuracy: 0.8243
Epoch 144/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3680 - accuracy: 0.8318
Epoch 145/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3892 - accuracy: 0.8393
Epoch 146/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3868 - accuracy: 0.8318
Epoch 147/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3764 - accuracy: 0.8378
Epoch 148/150
45/45 [==============================] - 0s 3ms/step - loss: 0.4052 - accuracy: 0.8258
Epoch 149/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3938 - accuracy: 0.8213
Epoch 150/150
45/45 [==============================] - 0s 3ms/step - loss: 0.3917 - accuracy: 0.8243

In [22]:
test_loss, test_acc = model.evaluate(X_test, y_test)

7/7 [==============================] - 0s 2ms/step - loss: 0.5698 - accuracy: 0.7758

In [20]:
print('Test Loss: {}'.format(test_loss))
print('Test Accuracy: {}'.format(test_acc))

Test Loss: 0.5041398406028748
Test Accuracy: 0.7578475475311279

## **Making Predictions**

In [23]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [0]:
import io
test = pd.read_csv(io.BytesIO(uploaded['test.csv']))

In [38]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Age     418 non-null    float64
 2   SibSp   418 non-null    int64
 3   Parch   418 non-null    int64
 4   Fare    418 non-null    float64
 5   male    418 non-null    int64
 6   Q       418 non-null    int64
 7   S       418 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [0]:
data = np.array(test)

In [0]:
# Predicting

pred = model.predict([data])

In [41]:
test.head()

   Pclass   Age  SibSp  Parch     Fare  male  Q  S
0       3  34.5      0      0   7.8292     1  1  0
1       3  47.0      1      0   7.0000     0  0  1
2       2  62.0      0      0   9.6875     1  1  0
3       3  27.0      0      0   8.6625     1  0  1
4       3  22.0      1      1  12.2875     0  0  1

In [0]:
# The test dataset, following the Kaggle Challenge rules, needs contains the predictions and the "PassengerId"
# At this step, we already have the predictions, so we can drop other columns.

test.drop(columns=['Pclass', 'Age', 'Parch', 'Fare', 'male', 'Q', 'S', 'SibSp'], inplace=True)

In [0]:
test['Survived'] = pred

In [44]:
test.head()

   Survived
0  0.068024
1  0.278339
2  0.088061
3  0.092727
4  0.531350

In [0]:
def format_result(col):
  survived = col[0]

  if survived >= 0.6:
    return 1
  else:
    return 0

In [0]:
# The "PassengerId" column needs to be enumerate from 892 to 1310

test.insert(0, 'PassengerId', np.arange(892, 1310))

In [47]:
test.head()

   PassengerId  Survived
0          892  0.068024
1          893  0.278339
2          894  0.088061
3          895  0.092727
4          896  0.531350

In [0]:
test['Survived'] = test[['Survived']].apply(format_result, axis=1)

# **Final Result:**

In [52]:
test

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]